@font-face {
  font-family: "iconfont"; /* Project id 3969538 */
  src: url('//at.alicdn.com/t/c/font_3969538_lsfowaai8c.woff2?t=1679534611519') format('woff2'),
       url('//at.alicdn.com/t/c/font_3969538_lsfowaai8c.woff?t=1679534611519') format('woff'),
       url('//at.alicdn.com/t/c/font_3969538_lsfowaai8c.ttf?t=1679534611519') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yunshangchuan:before {
  content: "\e600";
}

.icon-wenjian:before {
  content: "\e615";
}

.icon-xiazaimoban:before {
  content: "\e63c";
}

.icon-433miyuexiafazhuangtai:before {
  content: "\e60f";
}

.icon-duihao:before {
  content: "\e68b";
}
